# =============================================================================
# BANCO DE DADOS
# =============================================================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
